<div class="absolute ease-in-out duration-1000 z-[1] h-full w-full mx-auto pt-20 lg:pt-32 px-6 md:px-24 bg-special overflow-hidden"
     [ngClass]="activated ? 'top-0' : 'top-full'">
  <div id="biography" class="absolute -top-[100vh] h-0 w-0"></div>
  <div class="absolute top-0 right-0 w-full h-full bg-white/[0.35] -z-[1]"></div>
  <div class="flex flex-col md:flex-row h-full pb-4">
    <div class="flex flex-col shrink-0 grow-0 md:mr-4">
      <h2 class="text-5xl md:text-7xl sm:text-6xl whitespace-nowrap text-slate-800">Experience</h2>
      <div class="mt-4 md:mt-6 flex flex-col">
        <div class="flex w-full md:w-fit cursor-pointer ease-in-out duration-300 bg-white/[0] backdrop-blur-none
        hover:backdrop-blur-sm rounded-full md:p-2 md:mb-2 p-1 mb-1 border-slate-500 hover:border-transparent {{selectedXp?.id === e.id ? 'border-l border-r' : ''}}"
             *ngFor="let e of experience; let index = index" (click)="changeSelected(e)">
          <img class="md:w-[44px] md:h-[44px] w-[36px] h-[36px] rounded-full mr-2" src="assets/images/{{e.companyLogo}}"/>
          <div class="w-[calc(100%-60px)]">
            <p class="text-slate-800 md:text-base text-sm truncate">{{e.position}}</p>
            <h3 class="text-slate-600 md:text-sm text-xs truncate">{{e.companyName}}, {{e.companyLocation}}
              <span class="text-slate-500">({{e.startDate}} - {{e.endDate ? e.endDate : 'present'}})</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="grow shrink overflow-visible relative">
      <div #container *ngIf="selectedXp" (wheel)="container.scrollHeight === container.clientHeight ? $event.NONE : $event.stopPropagation()" [@inOutAnimation] class="absolute top-0 left-0 w-full bg-white/[0] backdrop-blur-sm p-2 md:p-4 rounded-lg overflow-auto h-fit max-h-full">
        <ul class="list-inside list-disc">
          <li class="text-sm md:text-base text-slate-800 mb-1" *ngFor="let b of selectedXp.bulletPoints" [innerHTML]="b"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
