.bg-special {
  background-image: url("../../../assets/images/s3-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-divider {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(210,227,227);
  background: linear-gradient(170deg, rgba(210,227,227,1) 0%, rgba(210,227,227,1) 50%, rgba(187,187,255,0) 50%);
}
