<div id="education" class="absolute ease-in-out duration-1000 z-[1] h-full w-full mx-auto pt-20 lg:pt-32 px-6 md:px-24 bg-slate-800/[0.35] backdrop-blur-xl"
     [ngClass]="activated ? 'top-0' : 'top-full'">
  <div id="experience" class="absolute -top-[100vh] h-0 w-0"></div>
  <h1 class="text-5xl md:text-7xl sm:text-6xl whitespace-nowrap text-white">Education</h1>
  <div class="p-4 mt-12 max-w-4xl mx-auto"></div>
</div>
