.ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(0deg, #022244, #58c8da);
}

.ocean::after,
.ocean::before {
  background-color: white;
  width: 120%;
  height: 120px;
  position: absolute;
  content: '';
  top: -60px;
  left: -10%;
  border-radius: 100%;
  animation: waves 10s ease infinite;
  opacity: 0.2;
}

.ocean::before {
  top: -40px;
  animation-delay: 5s;
  opacity: 0.1;
  left: -5%;
}

@keyframes waves {
  0%, 100% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
}

.bubbles {
  width: 100%;
  height: 100vh;
  animation: bubbles 10s linear infinite;
}

@keyframes bubbles {
  0%, 100% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
}

.bubbles span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: -10%;
  animation: bubble 10s ease-in-out infinite;
}

@keyframes bubble {
  0% {bottom: -10%; opacity: 0;}
  98% {bottom: 100%; opacity: 1;}
  100% {bottom: 100%; opacity: 0;}
}

.bubbles .expert {
  width: 140px;
  height: 140px;
  opacity: 1;
}

.bubbles .advanced {
  width: 100px;
  height: 100px;
  opacity: 0.8;
}

.bubbles .skilled {
  width: 80px;
  height: 80px;
  opacity: 0.6;
}

.bubbles .newbie {
  width: 60px;
  height: 60px;
  opacity: 0.4;
}
