<div class="absolute top-0 z-0 mesh-bg w-full h-[100vh] flex mx-auto pt-20 md:pt-0 px-6 md:px-24 items-start justify-center md:items-center md:justify-start">
  <img class="z-[1] absolute right-1/2 md:right-0 transform translate-x-1/2 md:translate-x-0 bottom-0 max-w-[500px] md:max-w-full w-full md:w-auto md:h-3/6 lg:h-4/6 xl:h-5/6" src="assets/image.png"
       alt=""/>
  <div class="z-[2] pt-12 md:pt-0 flex flex-col items-center md:items-start">
    <h1 class="text-5xl lg:text-8xl md:text-7xl sm:text-6xl text-slate-800 whitespace-nowrap">
      <span *ngFor="let i of myName; let index = index" (mouseenter)="randColor(index)" (mouseleave)="randColor(index, false)"
            class="ease-in-out duration-300 text-slate-800" [style]="'color:' + i.color" [innerHTML]="i.letter"></span>
    </h1>
    <p class="text-xl md:text4xl sm:text-3xl whitespace-nowrap italic text-slate-700 ease-in-out duration-500" [class.tracking-wide]="rainbow.length">A Senior Web Developer</p>
    <div class="flex mt-2">
      <a class="mx-1 w-[42px] h-[42px] flex items-center" href="tel:+989932119059">
        <lord-icon trigger="hover" src="assets/images/phone.json"></lord-icon>
      </a>
      <a class="mx-1 w-[42px] h-[42px] flex items-center" href="mailto:mahdizarei0614@gmail.com">
        <lord-icon trigger="hover" src="assets/images/email.json"></lord-icon>
      </a>
      <a class="mx-1 w-[42px] h-[42px] flex items-center">
        <lord-icon trigger="hover" src="assets/images/resume.json"></lord-icon>
      </a>
      <a class="mx-1 w-[42px] h-[42px] flex items-center" href="https://www.linkedin.com/in/mahdizarei0614" target="_blank">
        <lord-icon class="w-[42px] h-[42px]" trigger="hover" src="assets/images/linkedin.json"></lord-icon>
      </a>
      <a class="mx-1 w-[42px] h-[42px] flex items-center" href="https://github.com/mahdizarei0614" target="_blank">
        <lord-icon class="w-[45px] h-[45px]" trigger="hover" src="assets/images/github.json"></lord-icon>
      </a>
    </div>
    <a class="mt-2" href="https://stackexchange.com/users/15847508"><img src="https://stackexchange.com/users/flair/15847508.png?theme=dark" width="208" height="58" alt="profile for Mahdi Zarei on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Mahdi Zarei on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
    <a href="https://www.codewars.com/users/mahdizarei0614" target="_blank">
      <img class="mt-2 md:hidden block" src="https://www.codewars.com/users/mahdizarei0614/badges/micro">
      <img class="mt-2 hidden md:block lg:hidden" src="https://www.codewars.com/users/mahdizarei0614/badges/small">
      <img class="mt-2 hidden lg:block" src="https://www.codewars.com/users/mahdizarei0614/badges/large">
    </a>
  </div>
  <div class="glass-effect absolute w-full h-full z-0 right-0 bottom-0"></div>
</div>
