<div class="absolute ease-in-out duration-1000 z-[1] h-full w-full mx-auto pt-20 lg:pt-32 px-6 md:px-24 bg-slate-800/[0.35] backdrop-blur-xl"
     [ngClass]="activated ? 'top-0' : 'top-full'">
  <div id="landing" class="absolute -top-[200vh] h-0 w-0"></div>
  <h2 class="text-5xl md:text-7xl sm:text-6xl whitespace-nowrap text-white">Biography</h2>
  <div class="p-4 mt-12 max-w-4xl mx-auto">
    <p class="text-lg md:text3xl sm:text-2xl text-slate-700">
      Progressive Senior Web Developer with 4+ years of experience designing, enhancing, and maintaining 15+ websites, primarily progressive web applications, mainly using Angular and Ionic at
      <a class="text-blue-800 underline" href="https://dotin.ir" target="_blank">Dotin</a>
      Corporation, one of the top 3 companies in the banking industry of Iran,
      <a class="text-blue-800 underline" href="https://negah-bank.com" target="_blank">Karafarin's Negah Bank</a>,
      and a startup in London named
      <a class="text-blue-800 underline" href="https://elpidacare.com" target="_blank">Elpida</a>.
    </p>
  </div>
</div>
