/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.translucent {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
}

.translucent-min {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
